@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.none-focus:focus {
  outline: none;
}
/* hero section */
.hero {
  display: grid;
  background-color: #bf0f3d;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 120px;
}
.medio-block-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
  flex-direction: column;
}

.medio-block-info h1 {
  text-align: center;
}
.medio-block-info h1 .first {
  font-family: "Anton", serif;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 160px;
  line-height: 1.4;
}
.medio-block-info h1 .sec {
  font-family: "Anton", serif;
  position: relative;
  margin-top: -30px;
  text-transform: uppercase;
  font-size: 65px;
  color: #fff;
  letter-spacing: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.btn-container a {
  width: 45%;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0px;
}
.btn-container .primary {
  background-color: white;
  color: #bf0f3d;
}
.btn-container .secondary {
  background-color: none;
  color: white;
  border: 1px solid white;
}
.hero-image-container {
  width: 10%;
  overflow: hidden;
}
.image-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* offer section */
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.offer h2 {
  font-family: "Anton", serif;
  text-align: center;
  color: #cba210;
  font-size: 5rem;
  margin-bottom: 20px;
}
.offer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 75%;
  box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 10%);
  border-radius: 20px;
}
.offer-image {
  grid-column: 1 / 4;
  height: 100%;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.offer-text-container {
  display: flex;
  gap: 30px;
  grid-column: 4/6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-title {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-title h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
.text-title p {
  width: 50%;
  opacity: 80%;
  font-size: 0.9rem;
}
.fa-hat-wizard {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #bf0f3d;
}
.price-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.price-p {
  font-weight: bold;
}
.price-number {
  font-size: 3rem;
  font-weight: bold;
  color: #bf0f3d;
  margin-top: -1rem;
}
.price-person {
  font-weight: bold;
  font-size: 0.9rem;
  color: #bf0f3d;
  margin-top: -1rem;
}
.price-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #bf0f3d;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 20px;
}

/* Contact section */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.contact-container {
  box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 75%;
  padding: 90px 0;
  border-radius: 20px;
}

.contact-container h2 {
  font-family: "Anton", serif;
  text-align: center;
  color: #bf0f3d;
  font-size: 3rem;
  margin-bottom: 20px;
}
.contact-container p {
  width: 40%;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}
.contact-container hr {
  width: 80%;
  border: 1px solid #bf0f3d;
}
.btn-contact-container {
  background-color: #bf0f3d;
  width: 20%;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn-contact-container a {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.btn-contact-container i {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%);
  right: -120%;
  top: 50%;
}
.btn-contact-container:hover i {
  right: -35%;
  opacity: 100%;
}
.btn-contact-container:hover {
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 20%);
}
.btn-contact-container a:focus i {
  right: -35%;
}

/* evitement */
a.evitement {
  display: inline-block;
  color: #555;
  background: #fff;
  padding: 0.5em;
  position: absolute;
  left: -99999rem;
  z-index: 100;
}
a.evitement:focus {
  left: 0;
}
